{% set namespace = 'Plasticbrain\\FlashMessages\\' %}

{% extends 'layout.html.twig' %}

{% block title %}
Admin | Edit Prison
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/admin/edit.css">
{% endblock %}

{% block navbar %}
{% include 'admin-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<section class="row">

		<div class="col-sm-6 col-sm-offset-3">
			{% if flash.hasMessages() %}
				{{ flash.display() }}
			{% endif %}
		</div>

	</section>

	<section class="row">

		<div class="col-sm-6 col-sm-offset-3">
		
			<h2>Edit Prison</h2>

			<hr>

			<form class="form-inline" id="name" action="" method="POST">

				<div class="form-group">

					<label class="control-label" for="nameSelect">Select A Prison: </label>

					<select class="form-control" id="nameSelect" name="prison_id">
							<option value=""></option>
					{% for p in allPrisons %}
							<option value="{{ p.id }}">{{ p.name | title }}</option>
					{% endfor %}
					</select>

				</div>

			</form>

			<hr>

		</div>
	
	</section>
	
	{% if prison.id %}
	<section class="row">

		<div class="form-group col-sm-6 col-sm-offset-3">

			<form id="edit-prison" class="form-horizontal" method="POST" action="update.php">

				<label class="control-label" for="name">Name: </label><input class="form-control" id="name" type="text" name="name" value="{{ prison.name }}" required>

				<label class="control-label" for="address_1">Address 1: </label><input class="form-control" id="address_1" type="text" name="address_1" value="{{ prison.address_1 }}" required>

				<label class="control-label" for="address_2">Address 2: </label><input class="form-control" id="address_2" type="text" name="address_2" value="{{ prison.address_2 }}">

				<label class="control-label" for="city">City: </label><input class="form-control" id="city" type="text" name="city" value="{{ prison.city }}" required>
			
				<label class="control-label" for="state">State: </label>
				<select id="state" name="state" class="form-control">
					<option value="{{ prison.state }}">{{ prison.state }}</option>
					{% include 'states.html.twig' %}
				</select>

				<label class="control-label postal" for="postal_code">Postal Code: </label><input class="form-control postal" id="postal_code" type="text" name="postal_code" value="{{ prison.postal_code }}" required>

				<input type="hidden" name="id" value="{{ prison.id }}">

				<button id="submit" type="submit" class="btn btn-primary">Update Prison</button>

			</form>

		</div>
	
	</section>
	{% endif %}
	
</div> <!-- /container -->
{% endblock %}
{% block javascript %}
<script>
	$("#nameSelect").on("change", function() {
		if ($("#nameSelect").val() != "") {
			$("#name").submit();
		}
	});
</script>
{% endblock %}