{% set namespace = 'Plasticbrain\\FlashMessages\\' %}

{% extends "layout.html.twig" %}

{% block title %}
Home
{%  endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/writer/home.css">
<link rel="stylesheet" href="../public/css/libs/animate.min.css">
{% endblock %}


{% block navbar %}
{% include 'writer-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="col-md-12">
			{% if flash.hasMessages() %}
				{{ flash.display() }}
			{% endif %}
		</div>
	</div>
		
	<div class="row">

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">My Letters</div>

				<ul id="myLetters" class="list-group">
				{% if myLetters | length > 0 %}
					{% for letter in myLetters %}
						<li class="list-group-item {{ letter.status }}" 
							data-letter-id="{{ letter.id }}" href="#letterModal"
						>
							{{ letter.getContactName | title }} - {{ letter.saved_date | date("m/d/y") }} <span class="letter-type">{{ letter.getType }}</span>
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Letters</li>
				{% endif %}
				</ul>

			</div>

		</div>

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">Contacts Letters</div>

				<ul id="contactLetters" class="list-group">
				{% if contactLetters | length > 0 %}
					{% for letter in contactLetters %}
						<li class="list-group-item {{ letter.status }}" 
							data-letter-id="{{ letter.id }}"
						>
							{{ letter.getContactName | title }} - {{ letter.upload_date | date("m/d/y") }} <span class="letter-type">{{ letter.status | title }}</span>
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Letters</li>
				{% endif %}
				</ul>

			</div>

		</div>

	</div>

</div>

{# Letter Modal #}
<div id="letterModal">

    <!--"THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID-->
    <div id="controlsContainer">
		<figure>
	    	<img id="printModal" src="../public/img/printer_icon_white.svg" alt="print button" title="Print">
	    	<figcaption>Print</figcaption>
	    </figure>
	    <figure>
        	<img id="closeModal" class="closebt close-letterModal" alt="close button" src="../public/img/close_btn_white.svg" title="Close">
			<figcaption class="fig-right">Close</figcaption>
		</figure>

    </div>
    
    <div id="letter" class="modal-content">

        <!--modal content goes here-->
        <div id="spinnerWrap">

	    	<img id="spinner" src="../public/img/spinner.gif" alt="loading">
	    	
	    </div>

	    <div id="letterBody"></div>

    </div>

</div>
{# End Letter Modal #}
{% endblock %}

{% block javascript %}
<script src="../public/js/libs/animatedModal.js"></script>
<script src="../public/js/openModal.js"></script>
<script>
	$(document).ready(function()  {

		// open contact letter
		$("#contactLetters li").click(function() {
			let $self = $(this);
			let letterId = $self.data("letter-id");

			$self.children("span.letter-type").text("Read");
			if ($self.hasClass("unread")) {
				$self.removeClass("unread").addClass("read");
			}

			window.open("pdf.php?letterId="+letterId);
		});


		// apply click event to only saved drafts
		$("#myLetters li.saved").click(function() {
			let $self = $(this);
			let letterId = $self.data("letter-id");

			if ($self.hasClass("saved")) {
				window.location.assign("/uswriters/writer/write.php?letter_id="+letterId);
			}

		});

		// print letter
		$("#printModal").click(function() {
			window.print();
		});

	});
</script>
{% endblock %}