{% set namespace = 'Plasticbrain\\FlashMessages\\' %}

{% extends "layout.html.twig" %}

{% block title %}
Home
{%  endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/writer/home.css">
<link rel="stylesheet" href="../public/css/libs/animate.min.css">
{% endblock %}


{% block navbar %}
{% include 'writer-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="col-md-12">
			{% if flash.hasMessages() %}
				{{ flash.display() }}
			{% endif %}
		</div>
	</div>
		
	<div class="row">

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">My Letters</div>

				<ul id="myLetters" class="list-group">
				{% if myLetters | length > 0 %}
					{% for letter in myLetters %}
						<li class="list-group-item {{ letter.status }}" data-letter-id="{{ letter.id }}" href="#letterModal">
							{{ letter.name | title }} - {{ letter.saved_date | date("m/d/y") }} <span class="letter-type">{{ letter.getType }}</span>
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Letters Found</li>
				{% endif %}
				</ul>

			</div>

		</div>

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">Contacts Letters</div>

				<ul id="contactLetters" class="list-group">
				{% if contactLetters | length > 0 %}
					{% for letter in contactLetters %}
						<li class="list-group-item {{ letter.status }}" data-letter-id="{{ letter.id }}">
							{{ letter.name | title }} - {{ letter.saved_date | date("m/d/y") }} <span class="letter-type">{{ letter.getType }}</span>
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Letters Found</li>
				{% endif %}
				</ul>

			</div>

		</div>

		{# <div class="col-sm-6 section">

			<div class="panel panel-primary">

				<div class="panel-heading">Recent Letters</div>

				<ul class="list-group">
				{% if recentLetters | length > 0 %}
				{% else %}
					<li class="list-group-item non-pointer">No Recent Letters</li>
				{% endif %}
				</ul>

			</div>

		</div>

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">Sent Letters</div>

				<ul id="sent" class="list-group">
				{% if sentLetters | length > 0 %}
					{% for letter in sentLetters %}
						<li class="list-group-item" data-letter-id="{{ letter.id }}">{{ letter.name | title }} - {{ letter.submitted_date | date("m/d/y") }}</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Sent Letters</li>
				{% endif %}
				</ul>

			</div>

		</div> #}

	</div>

</div>

{# Letter Modal #}
<div id="letterModal">
    <!--"THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID-->
    <div id="closebt-container" class="close-letterModal">
        <img class="closebt" src="../public/img/closebt.svg">
    </div>
    
    <div id="letter" class="modal-content">
        <!--Your modal content goes here-->
    </div>
</div>
{# End Letter Modal #}
{% endblock %}

{% block javascript %}
<script src="../public/js/libs/animatedModal.js"></script>
<script>
	$(document).ready(function()  {

		// apply click event to only saved drafts
		$("#myLetters li.saved").click(function() {
			let $self = $(this);
			let letterId = $self.data("letter-id");

			if ($self.hasClass("saved")) {
				window.location.assign("/uswriters/writer/write.php?letter_id="+letterId);
			}

		});

		// apply animatedModalJs to every li with class submitted
		$("#myLetters li.submitted").each(function(index) {

            $(this).animatedModal({
                modalTarget:'letterModal',
                animatedIn:'zoomInUp',
                animatedOut:'zoomOutDown',
                animationDuration: '.8s',
                color:'#3498db', 
                // Callbacks
                beforeOpen: function(letterId) {
                	let $letterModal = $("#letter");
                	$letterModal.hide();
                
                    $.get("../app/helpers/getLetter.php?letter_id="+letterId, function(data, status) {
                    	if (data === "error") {
                    		$letterModal.html("<div class='letterError'>Error: Could not retrieve letter from database.</div>");
                    	} else {
                    		$letterModal.html(data);
                    	}
				    });
                },
                afterOpen: function() {
                    $("#letter").fadeIn(500);
                },           
                beforeClose: function() {
                    $("#letter").hide().html("");
                }
            });


        });

	});
</script>
{% endblock %}