{% set namespace = 'Plasticbrain\\FlashMessages\\' %}

{% extends "layout.html.twig" %}

{% block title %}
Home
{%  endblock %}

{% block css %}
<link rel="stylesheet" href="../public/css/writer/home.css">
{% endblock %}


{% block navbar %}
{% include 'writer-navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="col-md-12">
			{% if flash.hasMessages() %}
				{{ flash.display() }}
			{% endif %}
		</div>
	</div>
		
	<div class="row">

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">My Letters</div>

				<ul id="myLetters" class="list-group">
				{% if myLetters | length > 0 %}
					{% for letter in myLetters %}
						<li class="list-group-item {{ letter.status }}" data-letter-id="{{ letter.id }}">
							{{ letter.name | title }} - {{ letter.saved_date | date("m/d/y") }} <span class="letter-type">{{ letter.getType }}</span>
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Letters Found</li>
				{% endif %}
				</ul>

			</div>

		</div>

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">Contacts Letters</div>

				<ul id="contactLetters" class="list-group">
				{% if contactLetters | length > 0 %}
					{% for letter in contactLetters %}
						<li class="list-group-item {{ letter.status }}" data-letter-id="{{ letter.id }}">
							{{ letter.name | title }} - {{ letter.saved_date | date("m/d/y") }} <span class="letter-type">{{ letter.getType }}</span>
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Letters Found</li>
				{% endif %}
				</ul>

			</div>

		</div>

		{# <div class="col-sm-6 section">

			<div class="panel panel-primary">

				<div class="panel-heading">Recent Letters</div>

				<ul class="list-group">
				{% if recentLetters | length > 0 %}
				{% else %}
					<li class="list-group-item non-pointer">No Recent Letters</li>
				{% endif %}
				</ul>

			</div>

		</div>

		<div class="col-sm-6 section"> 

			<div class="panel panel-primary">

				<div class="panel-heading">Sent Letters</div>

				<ul id="sent" class="list-group">
				{% if sentLetters | length > 0 %}
					{% for letter in sentLetters %}
						<li class="list-group-item" data-letter-id="{{ letter.id }}">{{ letter.name | title }} - {{ letter.submitted_date | date("m/d/y") }}</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item non-pointer">No Sent Letters</li>
				{% endif %}
				</ul>

			</div>

		</div> #}

	</div>

</div>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function()  {

		$("#myLetters li").click(function() {
			let $self = $(this);
			let letterId = $self.data("letter-id");

			if ($self.hasClass("saved")) {
				window.location.assign("/uswriters/writer/write.php?letter_id="+letterId);
			}

		});

	});
</script>
{% endblock %}